/*?Flaticon icon font: Flaticon
Creation date: 05/07/2017 16:21
*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/Flaticon.eot");
  src: url("../fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/flaticon/Flaticon.woff") format("woff"), url("../fonts/flaticon/Flaticon.ttf") format("truetype"), url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}
.flaticon-hail:before {
  content: "\f100";
}
.flaticon-summer:before {
  content: "\f101";
}
.flaticon-rain-cloud:before {
  content: "\f102";
}
.flaticon-sun:before {
  content: "\f103";
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html,
body {
  height: 100vh;
}
body {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
/* Helpers */
[v-cloak] {
  display: none;
}
.btn-none {
  background: none;
  border: none;
}
.border-none {
  border: 0;
  border-radius: 0;
}
.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(113, 95, 194, 0.5);
}
.form-container {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}
.form-container .input-group {
  background-color: #fff;
  padding: 4px;
  border-radius: 3px;
  transition: box-shadow 0.4s ease-in-out;
}
.form-container .input-group:hover,
.form-container .input-group:focus {
  box-shadow: 0px 3px 7px -2.5px rgba(0, 0, 0, 0.3);
}
.form-container .form-control {
  box-shadow: none;
}
.input-group-btn {
  font-size: 14px;
}
.link-none {
  color: currentColor;
  text-decoration: none;
}
.link-none:hover,
.link-none:focus {
  color: currentColor;
  text-decoration: none;
}
.table-el {
  display: table;
  width: 100%;
  max-width: 100%;
  height: 100vh;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.purle-color {
  color: #715fc2;
}
.f-19 {
  font-size: 1.2rem;
}
.fs-80 {
  font-size: 5rem;
}
.inline-block {
  display: inline-block;
}
.t-y-25 {
  transform: translateY(-25%);
}
.pt-48 {
  padding-top: 3rem;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-x-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
}
.relative-5 {
  position: relative;
  z-index: 5;
}
/* General */
.filter-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 201, 183, 0.35);
  z-index: 1;
}
.site-wrapper {
  position: relative;
  height: 100%;
  margin: 0;
  background-color: #00c9b7;
  padding-top: 11.1rem;
}
.site-wrapper.w-info {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 26vh;
}
.header-region {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 0;
  z-index: 5;
}
.header-region .fa {
  color: #715fc2;
}
.header-region [class^="flaticon-"]:before {
  font-size: 5rem;
  color: #715fc2;
}
.main-menu-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  max-width: 320px;
  width: 100%;
  padding: 2rem;
  background-color: #715fc2;
  z-index: 10;
  transition: transform 0.4s ease-in-out;
  transform: translateX(-320px);
}
.main-menu-container.opened {
  transform: translateX(0);
}
.main-menu-container .reclaim {
  opacity: 0;
  padding: 2.5rem 0 0;
  margin: 2.5rem 0 0;
  color: #fff;
  font-size: 2em;
  width: 100px;
}
.main-menu-container .main-menu {
  opacity: 0;
  position: relative;
  padding: 2.5rem 0 0;
  margin: 2.5rem 0 0;
}
.main-menu-container .main-menu:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100px;
  background-color: #00c9b7;
}
.main-menu-container .main-menu a {
  display: block;
  color: #00c9b7;
  text-decoration: none;
  font-size: 2em;
}
.main-menu-container .close-menu {
  margin-top: 1rem;
  color: #00c9b7;
  font-size: 20px;
}
.temp-details {
  padding-left: 0;
  margin-bottom: 0;
  width: 1170px;
  height: 26vh;
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
}
.temp-details .item {
  display: inline-block;
  text-align: center;
  color: #fff;
  width: 280px;
}
.temp-details .item:last-of-type .inner-wrapper {
  border-right: 0;
}
.temp-details .inner-wrapper {
  margin: 2vh 0;
  border-right: 1px solid;
}
.temp-details .day-container,
.temp-details .temp-container {
  font-size: 1.8rem;
}
.temp-details [class^="flaticon-"]:before {
  font-size: 5rem;
}
.main-details {
  color: #fff;
}
.main-details .day,
.main-details .city-container {
  font-size: 2.5rem;
}
.main-details .date {
  font-size: 1.5rem;
}
.main-details .today-temp {
  font-size: 9rem;
  line-height: 9rem;
  margin-left: 4rem;
}
.main-details .icon-container [class^="flaticon-"]:before {
  font-size: 5rem;
}
@media (min-width: 1200px) {
  .overflow-x-scroll::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 992px) {
  .pr-md-30 {
    padding-right: 60px;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 575px) {
  .xs-hidden {
    display: none!important;
  }
  .main-details .day,
  .main-details .city-container {
    font-size: 1.5rem;
  }
  .main-details {
    float: none!important;
  }
  .main-details .today-temp {
    font-size: 5rem;
    line-height: 5rem;
    margin-left: 0;
    margin-top: 1rem;
  }
  .main-details .date-container.text-left {
    float: none!important;
    text-align: center;
  }
  .main-details .temp-container.text-center {
    float: none!important;
  }
}
