<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
  <link rel="stylesheet" href="assets/css/_styles.css">

</head>
<body>

  <div id="app" class="site-wrapper table-el" :class= "{ 'w-info': infoWeather }" v-cloak>

    <app-menu :openmenu="menuProp" @close="initOpenMenu"></app-menu>

    <header class="header-region">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4">
            <div class="box text-left">
              <button class="btn-none f-19" @click="initOpenMenu">
                <i class="fa fa-bars" aria-hidden="true"></i>
              </button>  
            </div>
          </div>
          <div class="col-xs-4">
            <div class="box text-center t-y-25">
              <a href="/" class="link-none">
                <i class="flaticon-sun"></i>
              </a>  
            </div>
          </div>
          <div class="col-xs-4">
            <div class="box text-right">
              <button class="btn-none purle-color f-19" v-if="infoWeather">
                <span class="xs-hidden inline-block">Add to Favorites</span>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
              </button>  
            </div>
          </div>                                
        </div>
      </div> 
    </header>

    <template v-if="infoWeather === false">
      <div class="region-area region-area-1 table-cell">
        <div class="inner-area inner-area-1 container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="box box-1">
                  <form class="form-container form">
                    <div class="input-group">
                      <input type="text" id="location-input" class="form-control border-none" ref="cityName" placeholder="Type a city..." required>
                      <span class="input-group-btn">
                        <button class="btn-none" @click.enter.prevent="initAxios"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                      </span>
                      
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
    
    <template v-else>
      <div class="filter-overlay"></div>
      
      <div class="region-area region-area-1 relative-5" v-if="weatherData.length > 0">

        <div class="inner-area inner-area-1 container-fluid text-right" >
          <div class="row">
            <div class="col-md-12">
              
              <div class="box box-1 overflow-hidden pr-md-30">
                <div class="widget main-details pull-right">
                    <!-- {{weatherData[0]}} -->
                    
                    <div class="date-container text-left pull-left">
                      <div class="day">
                        <strong>{{ initConvertDays(weatherData[0].dt) }}</strong>
                      </div>
                      <div class="date">{{ initGetDate(weatherData[0].dt) }}</div>
                    </div>

                    <div class="temp-container pull-left text-center">
                      <div class="today-temp">
                          <strong>{{ Math.ceil(weatherData[0].temp.morn) }}<sup>o</sup></strong>
                      </div>
                      <div class="city-container">
                        <strong>{{ cityName }}, {{ countryCode }}</strong>
                      </div>
                      <div class="icon-container" v-html="initWeatherIcons(weatherData[0].weather[0].main)">
                      </div>
                    </div>
                  
                </div>  
              </div>

            </div>
            </div>
          </div>    
          
          
          <div class="inner-area inner-area-2 container-fluid fixed-bottom">
            <div class="row">
              <div class="col-md-12">
                <div class="box box-1 overflow-x-scroll">

                    <ul class="widget temp-details">
                      <li v-for="(info, index) in weatherData" v-if="index !== 0 && index !==5" class="item" :key="index">
                        
                        <div class="inner-wrapper">
                          <div class="day-container">
                            {{ initConvertDays(info.dt) }}
                          </div>

                          <div class="icon-container" v-html="initWeatherIcons(info.weather[0].main)"></div>
                          
                          <div class="temp-container">
                            {{ Math.ceil(info.temp.morn) }}<sup>o</sup>
                          </div>

                        </div>

                      </li>
                    </ul>  
                  
                  </div>
                </div>
              </div>
            </div>    

        </div>  

    </template>  

  </div>
  
  <!-- js -->

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyDkV06KWTh709fFp4UpMCGPNNwYrrVbPNU"></script>
  <script src="assets/js/_bundle.js"></script>
</body>
</html>